#btn {
    border-radius: 9px;
    background-color: var(--highlight);
    padding: 10px;
    width: 200px;
    margin: 10px;
}

#btn:hover{
  cursor: pointer;
  box-shadow: 0 0 20px  var(--highlight);
  background-color: var(--highlight);
  transition: background-color 2s ease;
  /* color: black; */
  }

.dark #btn:hover{
  box-shadow: 0 0 20px  #000000;
  background-color: var(--highlight);
  transition: background-color 2s ease;
  color: var(--bg-dark);
}

/* boton del chatbot */
/* #btnChat{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--highlight);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  filter: drop-shadow(rgb(255, 255, 255) 1px 1px 1px);
}
 #btnChat:hover {
    background: #2e4480; 
}

#chatContainer {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 300px;
  height: 300px;
  background: white;
  border: 2px solid var(--primary-light);
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 5px;
  gap: 5px;
}
#chatContainer.active {
  visibility: visible;
  opacity: 1;
}

#sendBtn{
  width: 80px;
  text-align: center;
  border-radius: 6px;
  background-color: #00a8cc;
}

#messageInput{
  width: 100%;
  border-radius: 6px;
  padding: 5px;
} */

@media screen and (max-width: 660px) {
#btnPresupuesto  {
    padding: 5px;
    width: 100px;
}

}