#btn {
    border-radius: 9px;
    background-color: var(--highlight);
    padding: 10px;
    width: 200px;
    margin: 10px;
}

#btn:hover{
  cursor: pointer;
  box-shadow: 0 0 20px  var(--highlight);
  background-color: var(--highlight);
  transition: background-color 2s ease;
  /* color: black; */
  }

.white #btn:hover{
  box-shadow: 0 0 20px  #000000;
  background-color: var(--highlight);
  transition: background-color 2s ease;
  color: var(--bg-dark);
}

@media screen and (max-width: 660px) {
#btnPresupuesto  {
    padding: 5px;
    width: 100px;
}

}