footer{
    background-color: #16213e;
    color: var(--primary-dark);
}
.dark footer{
    background-color: var(--bg-dark);
}
#presupuesto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    text-align: center;
}
#contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    text-align: center;
}

footer > div > section {
    background-color: #2e4480;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}
.dark footer > div > section {
    background-color: var(--primary-light)
}