:root {
  --primary-dark: #000000;
  --bg-dark: rgb(0, 0, 0);
  --primary-light: rgb(255, 255, 255);
  --bg-light: #ffffff;
  --highlight: #00a8cc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  /* overflow-x: hidden; */
}
.white {
  color: var(--bg-dark);
  background-color: var(--primary-light);
}