li {
  list-style-type: none;
}

/* todo estos nav hace que a cuando pasas el hover se subraye con una linea azul ademas de ponerse de color azul la palabra */
nav > ul > li > a {
    color: var(--bg-dark);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}
.white nav > ul > li > a {
    color: var(--primary-dark);
}

nav > ul > li > a:hover {
    color: #00a8cc;
}

nav > ul > li > a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #00a8cc;
    transition: width 0.3s ease;
}

nav > ul > li > a:hover::after {
    width: 100%;
}